<!-- Analysis -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].analysis.section | default: "" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].analysis.title | default: "About Us" }}</h2>
        </div>
      </div>
      
      <!-- Number of movies -->
      <div class="row">
        <div class="col-lg-12">
            <h4 class="analysis-heading">{{ site.data.sitetext[site.locale].analysis.subtitle1 | default: "" }}</h4>
            <div class="large text-muted">{{ site.data.sitetext[site.locale].analysis.intro1 | markdownify }}</div>
        </div>
        <div class="d-flex justify-content-center">
          <iframe src="plots/number_movies.html" width="1200" height="600" frameborder="0"></iframe>
        </div>
        <div class="col-lg-12">
          <p><em>Figure 1: The number of movies that were produced per event over the years provided in the dataset. This plot aims to provide a general overview of the absolute numbers, there is no adaptation to the general expansion of the film industry.</em></p>
        </div>
        <div class="d-flex justify-content-center">
          <iframe src="plots/average_number_movies_per_year.html" width="1200" height="600" frameborder="0"></iframe>
        </div>
        <div class="col-lg-12">
          <p><em>Figure 2: Average percentage of movie releases per year for each event with their corresponding 95% confidence intervals.</em></p>
        </div>
        <div class="col-lg-12 text-justify">
          <div class="large text-muted mb-5">{{ site.data.sitetext[site.locale].analysis.text1 | markdownify }}</div>
        </div>
      </div>
      <!-- Number of movies -->
      <br>

      <!-- Internationality -->
      <div class="row">
        <div class="col-lg-12">
          <h4 class="analysis-heading">{{ site.data.sitetext[site.locale].analysis.subtitle2 | default: "" }}</h4>
          <div class="large text-muted">{{ site.data.sitetext[site.locale].analysis.intro2 | markdownify }}</div>
        </div>
        <div class="d-flex justify-content-center">
          <iframe src="plots/internationality_map.html" width="1200" height="600" frameborder="0"></iframe>
        </div>
        <div class="col-lg-12">
          <p><em>Figure 3: World map where for each continent the top 1 represented event is highlighted. Countries that are gray are those that have not produced movies present in our database.</em></p>
        </div>
        <div class="d-flex justify-content-center">
          <img class="img-fluid" src="assets/img/tables/Internationality_table.png" alt="">
        </div>
        <div class="col-lg-12">
          <p><em>Table 1: Top three events for each continent respectively.</em></p>
        </div>
        <div class="d-flex justify-content-center">
          <iframe src="plots/internationality.html" width="1200" height="600" frameborder="0"></iframe>
        </div>
        <div class="col-lg-12">
          <p><em>Figure 4: Percentage distribution of the presence of events averaged over different world regions (internationality score) with their 95% confidence intervals.</em></p>
        </div>
        <div class="col-lg-12">
          <div class="large text-muted mb">{{ site.data.sitetext[site.locale].analysis.text2 | markdownify }}</div>
        </div>
      </div>
      <!-- Internationality -->
      <br>

      <!-- Fame -->
      <div class="row">
        <div class="col-lg-12">
          <h4 class="analysis-heading">{{ site.data.sitetext[site.locale].analysis.subtitle3 | default: "" }}</h4>
          <div class="large text-muted">{{ site.data.sitetext[site.locale].analysis.intro3 | markdownify }}</div>
        </div>
        <div class="d-flex justify-content-center">
          <iframe src="plots/fame_average.html" width="1200" height="600" frameborder="0"></iframe>
        </div>
        <div class="col-lg-12">
          <p><em>Figure 5: The three fame sub-parameters: box office revenue, popularity and vote count.</em></p>
        </div>
        <div class="col-lg-12">
          <div class="large text-muted">{{ site.data.sitetext[site.locale].analysis.text3 | markdownify }}</div>
        </div>
      </div>
      <!-- Fame -->
      <br>

      <!-- Rating -->
      <div class="row">
        <div class="col-lg-12">
          <h4 class="analysis-heading">{{ site.data.sitetext[site.locale].analysis.subtitle4 | default: "" }}</h4>
          <div class="large text-muted">{{ site.data.sitetext[site.locale].analysis.intro4 | markdownify }}</div>
        </div>
        <div class="d-flex justify-content-center">
          <iframe src="plots/vote_rating.html" width="1200" height="600" frameborder="0"></iframe>
        </div>
        <div class="col-lg-12">
          <p><em>Figure 6: Average rating of movies from an event, received on a scale of 0 to 10 with their 95% confidence intervals.</em></p>
        </div>
        <div class="col-lg-12">
          <div class="large text-muted">{{ site.data.sitetext[site.locale].analysis.text4 | markdownify }}</div>
        </div>
      </div>
      <!-- Rating -->
      <br>

      <!-- Genres -->
      <div class="row">
        <div class="col-lg-12">
          <h4 class="analysis-heading">{{ site.data.sitetext[site.locale].analysis.subtitle5 | default: "" }}</h4>
          <div class="large text-muted">{{ site.data.sitetext[site.locale].analysis.intro5 | markdownify }}</div>
        </div>
        <div class="d-flex justify-content-center">
          <iframe src="plots/genres.html" width="1200" height="600" frameborder="0"></iframe>
        </div>
        <div class="col-lg-12">
          <p><em>Figure 7: Percentage distribution of genres for the different events.</em></p>
        </div>
        <div class="d-flex justify-content-center">
          <img class="img-fluid" src="assets/img/tables/Genres_GiniCoeff_Table.png" alt="">
        </div>
        <div class="col-lg-12">
          <p><em>Table 2: Gini coefficients quantifying the distributions over the genres for the different events. A gini coefficient of 1 indicates a completely unequal distribution while a gini coefficient of 0 indicates a completely equal distribution.</em></p>
        </div>
        <div class="col-lg-12">
          <div class="large text-muted">{{ site.data.sitetext[site.locale].analysis.text5 | markdownify }}</div>
        </div>
      </div>
      <!-- Genres -->
      <br>
      
      <!-- Sentiment -->
      <div class="row">
        <div class="col-lg-12">
          <h4 class="analysis-heading">{{ site.data.sitetext[site.locale].analysis.subtitle6 | default: "" }}</h4>
          <div class="large text-muted">{{ site.data.sitetext[site.locale].analysis.intro6 | markdownify }}</div>
        </div>
        <!--div class="d-flex justify-content-center">
          <iframe src="plots/sentiment.html" width="1200" height="600" frameborder="0"></iframe>
        </div-->
        <div class="d-flex justify-content-center">
          <img class="img-fluid" src="assets/img/tables/Sentiment_Distances_table.png" alt="">
        </div>
        <div class="col-lg-12">
          <p><em>Table 3: Distance of the individual events to the origin of the emotional spectrum as depicted in Figure 8.</em></p>
        </div>
        <div class="col-lg-12">
          <div class="large text-muted">{{ site.data.sitetext[site.locale].analysis.text6 | markdownify }}</div>
        </div>
      </div>
      <!-- Sentiment -->
    </div>
  </section>
  <!-- End Analysis -->
