<!-- Analysis -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].analysis.section | default: "" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].analysis.title | default: "About Us" }}</h2>
          <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].analysis.text | default: "" }}</h3>
        </div>
      </div>
      
      <!-- Number of movies -->
      <div class="row">
        <div class="col-lg-12">
            <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].analysis.subtitle1 | default: "" }}</h3>
        </div>
        <!-- load plot: iframe style="height:650px;" class="figure img-responsive" src="plots/movie_count.html" title="Number of movies"></iframe> -->
        <div class="col-lg-12">
            <p class="text-self"">{{ site.data.sitetext[site.locale].analysis.text1 | default: "" }}</p>
        </div>
      </div>
      <!-- Number of movies -->
  

      <!-- Internationality -->
      <div class="row">
        <div class="col-lg-12">
            <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].analysis.subtitle2 | default: "" }}</h3>
        </div>
        <!-- load plot: iframe style="height:650px;" class="figure img-responsive" src="plots/movie_count.html" title="Number of movies"></iframe> -->
        <div class="col-lg-12">
            <p class="text-self"">{{ site.data.sitetext[site.locale].analysis.text2 | default: "" }}</p>
        </div>
      </div>
      <!-- Internationality -->
  

      <!-- Fame -->
      <div class="row">
        <div class="col-lg-12">
            <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].analysis.subtitle3 | default: "" }}</h3>
        </div>
        <!-- load plot: iframe style="height:650px;" class="figure img-responsive" src="plots/movie_count.html" title="Number of movies"></iframe> -->
        <div class="col-lg-12">
            <p class="text-self"">{{ site.data.sitetext[site.locale].analysis.text3 | default: "" }}</p>
        </div>
      </div>
      <!-- Fame -->
  

      <!-- Rating -->
      <div class="row">
        <div class="col-lg-12">
            <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].analysis.subtitle4 | default: "" }}</h3>
        </div>
        <iframe style="height:650px;" class="figure img-responsive" src="/plots/vote_rating.html" title="Average Vote Rating"></iframe>
        <div class="col-lg-12">
            <p class="text-self"">{{ site.data.sitetext[site.locale].analysis.text4 | default: "" }}</p>
        </div>
      </div>
      <!-- Rating -->
      

      <!-- Genres -->
      <div class="row">
        <div class="col-lg-12">
            <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].analysis.subtitle5 | default: "" }}</h3>
        </div>
        <!-- load plot: iframe style="height:650px;" class="figure img-responsive" src="plots/movie_count.html" title="Number of movies"></iframe> -->
        <div class="col-lg-12">
            <p class="text-self"">{{ site.data.sitetext[site.locale].analysis.text5 | default: "" }}</p>
        </div>
      </div>
      <!-- Genres -->


    <!-- Sentiment -->
    <div class="row">
        <div class="col-lg-12">
            <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].analysis.subtitle6 | default: "" }}</h3>
        </div>
        <!-- load plot: iframe style="height:650px;" class="figure img-responsive" src="plots/movie_count.html" title="Number of movies"></iframe> -->
        <div class="col-lg-12">
            <p class="text-self"">{{ site.data.sitetext[site.locale].analysis.text6 | default: "" }}</p>
        </div>
      </div>
      <!-- Sentiment -->
    </div>
  </section>
  <!-- End Analysis -->